#bio.box 
  %h3 Biography
  %p
    I am a software developer with 14 years of work experience.  In the mid 1990's
    I was building web sites at Poppe Tyson advertising for Fortune 500 companies 
    like T. Rowe Price, Chase Manhattan Bank, and ING Barings.  By 1999 I was VP of
    Software Development at Primary Knowledge - a New York City dot com startup.
    In 2000, I went to work for SPSS, Inc. leading the development of large scale, 
    distributed web services and desktop application software written in Java.
    
  %p
    In 2004 I moved to Asheville, NC and telecommuted for various NYC and Silicon Valley
    companies. For the last year I've been developing social networks and building websites 
    for clients in Asheville, NC. I love the power and flexibility of Ruby, Rails, Javascript, 
    and CSS combined with clean design, architectural simplicity, and disciplined testing.  

  %p
    In addition to consulting, I also teach analysis, design and implementation 
    courses in the Computer Science department at <a href="http://mhc.edu">Mars Hill University.</a>
    Currently I'm interested in geolocation/geocoding, open source, agile development processes,
    distributed software systems, and fun and challenging problems.  

  %p 
    When not working I can usually be found growing vegetables in the garden, practicing yoga, 
    taking pictures of my beautiful family, and opening a new  <a href="http://locomotivity.com">coworking space</a> in Asheville.