#contact
  #contact-form.span-10.prepend-2.rightborder
    %form
      %p
        %label{:for=>'name'} Name:
        %br
        %input.span-8.title{:type=>'text', :id=>'name'}
      %p
        %label{:for=>'title'} Title:
        %br
        %input.span-8.text{:type=>'text', :id=>'title'}
      %p
        %label{:for=>'email'} Email:
        %br
        %input.span-8.text{:type=>'text', :id=>'email'}
      %p
        %label{:for=>'message'} Message:
        %br
        %textarea.span-8{:id=>'message'}
      %p
        %input{:type=>'submit', :value=>'Submit'}
  .span-10.last.b
    %p
      If you need a site designed and developed from scratch, help with database optimization, new functionality or additional work on an existing site, architectural and usability issues, or simple email or website hosting, I'm here to help.  
    %p 
      Fill out the form on the left. Please allow 1 week for a response.  
    %br Thanks!
    %br Lance