.span-7.rightborder
  %h2 Services
  %ul
    %li Website Design & Development
    %li Content Management System Creation & Deployment
    %li Database Development & Optimization
    %li Custom Software Development
    %li Website & Email Hosting
    %li Google Applications for Business

.span-7.rightborder
  %h2 How It's Done
  %ul.services
    %li Ruby & Rails
    %li Javascript & AJAX
    %li Radiant CMS
    %li Sinatra
    %li PHP Development
    %li XHTML/HTML &amp; CSS
    %li HAML & SASS

.span-7.last
  %h2 Recent Work
  %ul.services
    %li Appalachian Sustainable Agriculture Project
    %li Genova Diagnostics
    %li Blue Ridge Bone & Joint
    %li Top Floor Studio
    %li The Puckett Institute
    %li Greenthumbr.com
